.img{
	border: 1px solid black;
	width:300px;
	padding: 5px;
	display: inline-block;
	height: 400px;
	margin: 30px;
	vertical-align: top;
}


.title{
	font-family: papyrus;
	text-align: center;
}

.desc{
	font-family: Comic Sans;
	text-align: justify;
}

img{
	border: 2px solid red;
}

img{
	border: 1px solid red;
}


