/*<!--Completed by Chramel Sippio-->*/

body {
	background-image: url("grilledcheese.jpg");
	background-size: cover;
	font-family: arial;
	margin-left: 50px;
	margin-right: 50px;
	margin: 0 auto;
}

nav {
	width: 80%;
	height: 30%;
	font-size: 20px;
	text-align: center;
	clear: both;
}

ul.nav >li {
	display: inline-block;
	padding-left: 20px;
	margin-left: 100px;
	margin-top: 10px;
	font-size: 25px;

}

ul.nav {
	list-style: none;
}

.headbanner {
	background-color: white;
	width: 1300px;
}

#banner {
	float: left;
	padding-left: 200px;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

div.text {
	width: 760px;
	background-color: rgba(255, 255, 255, 0.73);
	height: 250px;
	padding: 20px;
	margin-left: 200px;
	float: left;
	margin-bottom: 200px;
}

h1{
	text-align: center;
	color: darkblue;
}

.confetti {
	width: 40px;
	height: 40px;
	margin-top: -100px;
	background-image: url("cheese.png");
	position: absolute;
	animation: confetti 6s;
	-webkit-animation: confetti 6s;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	z-index: -1;
}

@keyframes confetti {
	0% {top: 0px;}
	100% {top: 1000px;}
}

@-webkit-keyframes confetti {
	0% {top: 0px;}
	100% {top: 1000px;}
}

.cheese1 {
	margin-left: 50px;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.cheese2 {
	margin-left: 300px;
}

.cheese4 {
	margin-left: 900px;
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}

.cheese2, .cheese17 {
	animation-delay: 3s;
	-webkit-animation-delay:3s;
}

.cheese17 {
	margin-left: 70px;
}

.cheese9 {
	margin-left: 1050px;
}

.cheese9, .cheese3 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.cheese3 {
	margin-left: 350px;
}

.cheese15 {
	animation-delay: 4s;
	-webkit-animation-delay:4s;
	margin-left: 350px;
}

.cheese21, .cheese8, .cheese13 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

.cheese21 {
	margin-left: 30px;
}

.cheese8 {
	margin-left: 500px;
}

.cheese13 {
	margin-left: 800px;
}

.cheese7, .cheese20 {
	animation-delay: 5s;
	-webkit-animation-delay:5s;
}

.cheese7 {
	margin-left: 750px;
}

.cheese20 {
	margin-left: 350px;
}

.cheese16, .cheese5 {
	animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.cheese16 {
	margin-left: 180px;
}

.cheese5 {
	margin-left: 580px;
}

.cheese6, .cheese19 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.cheese6 {
	margin-left: 111px;
}

.cheese19 {
	margin-left: 1300px;
}

.cheese10, .cheese18 {
	animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}

.cheese10 {
	margin-left: 400px;
}

.cheese18 {
	margin-left: 700px;
}

.cheese11, .cheese12 {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.cheese11 {
	margin-left: 480px;
}

.cheese12 {
	margin-left: 1200px;
}

.cheese14 {
	animation-delay: 4.5s;
	-webkit-animation-delay: 4.5s;
	margin-left: 660px;
}

/*article {
	clear: both;
	display: inline-block;
}*/

#oneline {
	clear: both;
	color: darkred;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#footer {
	margin-top: 200px;
	text-align: left;
	font-size: 11px;
}

#social {
	float: right;
}

hr {
	clear: left;
	display: block;
	margin-top: 200px;
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	margin: 1em 0;
	padding: 0;
}

.clear {
	clear: both;
}